@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Inter", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: rgb(255, 89, 89);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    background-image: linear-gradient(to top, rgb(33, 32, 32) 0%,rgba(205, 198, 198, 0) 100%), url('images/Rectangle237.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.banner h1{
    font-size: 3rem;
    font-weight: 700;
}

.banner p{
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
    line-height: 25px;
}

.donate_now_btn{
    font-size: 1rem;
    padding: 10px 16px;
   
}

.donate_today_section{
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.donate_today_section h1{
    font-size: 2rem;
}

.donate_today_section p{
    width: 50%;
    font-size: 0.8rem;
    opacity: 0.8;
}

.cards_parent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.card, .card2{
    width: 120px;
    border-radius: 5px;
    background: rgb(247, 247, 249);
    color: rgb(112, 112, 112);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 30px 10px;
}

.card2{
    background-color: rgb(255, 238, 238);
    border: 2px solid rgb(255, 89, 89);
    color: rgb(255, 89, 89);
}

.donate_today_section h3{
    color: rgb(179, 179, 179);
    margin-top: 30px;
    margin-bottom: 0px;
}

hr{
    width: 75%;
    
}


.donate_plan{
    width: 85%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.donate_plan > p{
    width: 60%;
    font-size: 0.8rem;
    text-align: center;
}

.donate_card_container{
    display: flex;
    align-items: center;
    gap: 20px;
}


.donate_card_1 h3, .donate_card_2 h3, .donate_card_3 h3{
    font-size: 1.5rem;
    margin-top: 10px;
}

.donate_card_1 p, .donate_card_2 p, .donate_card_3 p{
    width: 90%;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px ;
}

.donate_card_1{
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.1);
    padding: 40px 20px;
}
.donate_card_2{
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.1);
    padding: 40px 20px;
}
.donate_card_3{
    border-radius: 5px;
    background: rgb(255, 244, 214);
    padding: 40px 20px;
}

.how_to_contribute{
    width: 85%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.how_to_contribute p{
    width: 80%;
    font-size: 0.8rem;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 15px;
}

.how_to_contribute img{
    width: 85%;
}

.contribute{
    padding: 10px 16px;
}

.get_updates{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.get_updates h1{
    font-size: 2rem;
    font-weight: 700;
}

.get_updates p{
    width: 60%;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.7;
}

.get_updates div{
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 244, 214);
}

input[type="email"]{
    width: 300px;
    height: 33px;
    padding-left: 10px;
    background-color: rgb(217, 217, 217);
    border: none;
    border-radius:  5px 5px 5px 5px;
}

input[type="email"]:focus{
    outline: #fff;
}

input[type="submit"]{
    width: 100px;
    height: 33px;
    background-color: rgb(255, 89, 89);
    color: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

footer{
    width: 100%;
    background-color: rgb(11, 13, 23);
    padding: 50px 0;
    text-align: center;
}

footer h3{
    color: rgb(255, 89, 89);
    font-size: 1.8rem;
    font-family: "Lobster", sans-serif;
    font-weight: 500;
}

footer h5{
    margin-top: 10px;
    font-size: 0.7rem;
    color: #fff;
    opacity: 0.8;
}



/* responsive design for mobile device */

@media screen and (max-width: 576px) {
    .banner{
        width: 100%;
        height: 400px;
    }
    .banner h1{
        font-size: 2rem;
    }
    .banner p{
        width: 80%;
        font-size: 0.8rem;
    }
    .donate_today_section{
        width: 90%;
    }
    .donate_today_section p{
        width: 90%;
    }
    .cards_parent, .donate_card_container{
        flex-direction: column;
    }
    .how_to_contribute{
        grid-template-columns: repeat(1, 1fr);
    }
    .get_updates{
        width: 85%;
    }
    input[type="email"]{
        width: 180px;
    }
    input[type="submit"]{
        width: 70px;
    
        font-size: 0.6rem;
    }
}